<% content_for :title do %>About<% end %>
<h3>About Michael Wiss</h3>
<p>Educated as a fine artist I am now pursuing a career in web development. I believe that we are still in the nascent stage of our ability to express ourselves on the web and I am determined to be involved in it's development.</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>